@charset "utf-8";

@font-face {
    font-family: 'pretendard';
    src: url('../font/Pretendard/Pretendard-ExtraLight.eot');
    src: url('../font/Pretendard/Pretendard-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-ExtraLight.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'pretendard';
    src: url('../font/Pretendard/Pretendard-Regular.eot');
    src: url('../font/Pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-Regular.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat/Montserrat-Light.eot');
    src: url('../font/Montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/Montserrat/Montserrat-Light.woff2') format('woff2'),
        url('../font/Montserrat/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat/Montserrat-Regular.eot');
    src: url('../font/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Montserrat/Montserrat-Regular.woff2') format('woff2'),
        url('../font/Montserrat/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat/Montserrat-Medium.eot');
    src: url('../font/Montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/Montserrat/Montserrat-Medium.woff2') format('woff2'),
        url('../font/Montserrat/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat/Montserrat-SemiBold.eot');
    src: url('../font/Montserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Montserrat/Montserrat-SemiBold.woff2') format('woff2'),
        url('../font/Montserrat/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-weight: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

body {
    color: #333;
    line-height: 1;
    overflow-x: hidden;
}

body h2 {
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: 600;
}

.header {
    height: 72px;
}

.header .inner {
    width: 1920px;
}

.header .inner .hd_top {
    width: 100%;
    height: 1025px;
    position: relative;
}

.header .inner h1 {
    display: flex;
    justify-content: center;
    line-height: 72px;
}

.header .inner .hd_top .util {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
    position: fixed;
}

.header .inner .hd_top .util li {
    transform: rotate(90deg);
    margin-top: 46px;
    font-weight: bold;
}

/* ---- menu btn ---- */
.menu_btn {
    position: fixed;
    top: 50%;
    right: 20px;
    height: 25px;
    width: 30px;
    cursor: pointer;
    transition: all 0.5s;
    z-index: 9999;
}


.menu_btn::before {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(/img/right_util.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.menu_btn.active::before {
    width: 20px;
    height: 20px;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);
    background: url(../img/icon_xletter_.png);
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 99;
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.897);
    transition: all 0.5s;
    display: none;
}

.menu.active {
    display: flex;
}

.menu {
    height: 100%;
    width: 100%;
    margin: auto 0;
    display: none;
    justify-content: space-between;
    padding: 450px 600px;
    line-height: 30px;
}

.menu ul li a {
    display: inline-block;
    font-size: 16px;
    color: #f5f5f5;
    transition: all 0.3s;
    font-weight: normal;
}

.menu ul li ul li a {
    font-weight: 100;
}

.menu::after {
    content: '';
    width: 700px;
    height: 50px;
    border: 1px solid white;
    position: absolute;
    top: 37%;
}

.menu::before {
    content: '';
    background: url(/img/icon\ _search_.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 38.4%;
    right: 32.5%;
}

.menu:has(a:hover) a:not(:hover) {
    scale: 0.85;
}

/* ---- menu btn end ---- */


/* ---Main visual ---💘 */

.main_visual {
    width: 1763px;
    height: 953px;
    margin: 0 auto;
    position: relative;
}

.main_visual figure {
    width: 100%;
    height: 100%;
}

.main_visual .inner div {
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_visual .inner div h1 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 600;
}

.main_visual .inner div strong {
    font-size: 45px;
    margin-bottom: 15px;
    display: block;
    font-weight: 600;
}

.main_visual .inner div p {
    font-size: 16px;
    margin-bottom: 50px;
    font-family: 'pretendard';
    font-weight: normal;
}

.main_visual .inner div a {
    width: 245px;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
    background-color: #333;
    border-radius: 25px;
    font-size: 18px;
    display: block;
}


/* ---- nav ---- */
.header02 {
    width: 1920px;
    height: 55px;
    margin-bottom: 80px;
    position: sticky;
    top: 0px;
    z-index: 10;
    
}

.header02 .inner {
    width: 1763px;
    height: 100%;
    margin: 0 auto;
    background-color: white;
    
}

.header02 .inner nav {
    width: 100%;
    height: 55px;
    line-height: 55px;
    

}
.header02 .inner nav .gnb {
    display: flex;
    justify-content: center;
}

.header02 .inner nav .gnb .depth01 {
    position: relative;
    
}

.header02 .inner nav .gnb .depth01:hover>a::after {
    width: 100%;
}

.header02 .inner nav .gnb .depth01>a::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: #333;
    position: absolute;
    top: 40px;
    left: 0;
    transition: all 0.5s;
}

.header02 .inner nav .gnb .depth01>a {
    font-weight: 600;
}

.header02 .inner nav .gnb>li {
    margin-left: 40px;
}

.header02 .inner nav .gnb .list01 {
    margin-left: 0;
}

.header02 .inner nav .gnb .depth02 {
    line-height: 20px;
    display: none;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 120px;
    vertical-align: top;
    text-align: center;
    background-color: white;
}

.header02 .inner nav .gnb .depth01:hover .depth02 {
    display: block;
}
/* ---Section01 ---💘 */

.section01 {
    width: 1920px;
    height: 830px;
}

.section01 .inner {
    width: 1763px;
    margin: 0 auto;
}

.section01 .inner .cont01 .box {
    display: flex;
    justify-content: space-between;
}

.section01 .inner .cont01 .box .imgbox {
    position: relative;
}

.section01 .inner .cont01 .box h3 {
    width: 639px;
    height: 133px;
    position: absolute;
    top: 80px;
    left: 115px;
    text-align: center;
    line-height: 133px;
    font-weight: 600;
}

.section01 .inner .cont01 .box .box_left h3 {
    background-color: #3333337e;
    color: #fff;
}

.section01 .inner .cont01 .box .box_right h3 {
    background-color: #ffffffa1;
}

.section01 .inner .cont02 {
    margin-top: 80px;
}

.section01 .inner .cont02 .best_dress {
    display: flex;
    justify-content: space-between;
}

.section01 .inner .cont02 .best_dress li {
    position: relative;
}

.section01 .inner .cont02 .best_dress li h3 {
    width: 273px;
    height: 360px;
    transition: all 0.5s;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 150px;
    text-align: center;
}

.section01 .inner .cont02 .best_dress li:hover h3 {
    padding-top: 150px;
    color: white;
    font-size: 18px;
    background-color: #33333383;
    opacity: 1;
}

.section01 .inner .cont02 .best_dress li h3 strong {
    display: block;
    font-size: 16px;
    margin-top: 13px;
    font-weight: 600;
}

.section01 .inner .cont02 .best_dress li h4 {
    text-align: center;
    position: absolute;
    top: 162px;
    left: 54px;
    color: white;
    font-size: 22px;
    font-weight: 600;
}

.section01 .inner .cont02 .best_dress li h4::after {
    content: '';
    background: url(/img/bestdress_arrow.png);
    width: 166px;
    height: 16px;
    position: absolute;
    top: 20px;
    left: 0;
}

/* ---Section02 ---💘 */

.section02 {
    width: 1920px;
    height: 830px;
    margin-top: 160px;
}

.section02 .inner {
    width: 1763px;
    margin: 0 auto;
    position: relative;
}

.section02 .inner .slide {
    position: relative;
    overflow: hidden;
}

.section02 .inner .slide h3 {
    width: 200px;
    height: 48px;
    background-color: #333333ab;
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 48px;
    position: absolute;
    bottom: 76px;
    left: -50%;
    opacity: 0;
    transition: all 1s;
}

.section02 .inner .slide:hover h3 {
    opacity: 1;
    transition: all 0.5s;
    position: absolute;
    bottom: 76px;
    left: 0;
}

.section02 .inner .custom_dots {
    position: absolute;
    top: 0;
    right: 15px;
    list-style: none;
}

.section02 .inner .custom_dots ul {
    display: flex !important;
}

.section02 .inner .custom_dots ul button {
    font-size: 0;
    width: 13px;
    height: 13px;
    border: none;
    border-radius: 0;
    background-color: #D9D9D9;
    rotate: 45deg;
    margin: 0 8px;
}

.section02 .inner .custom_dots ul .slick-active button {
    font-size: 0;
    width: 13px;
    height: 13px;
    border: none;
    border-radius: 0;
    background-color: #333;
    rotate: 45deg;
}


/* ---Section03 ---💘 */
.section03 {
    width: 1920px;
    height: 920px;
}

.section03 .inner {
    width: 1763px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.section03 .inner .box01 {
    position: relative;
}

.section03 .inner .box01 .text {
    width: 881px;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 25%;
    right: 0;
}

.section03 .inner .box02 .text {
    width: 881px;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 65%;
    left: 0;
}

.section03 .inner .box02 figure {
    width: 881px;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 0;
}

.section03 .inner h3 {
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: 500;
}

.section03 .inner p {
    font-size: 16px;
    margin-bottom: 30px;
}

.section03 .inner a {
    font-size: 14px;
    width: 154px;
    height: 35px;
    background-color: #333;
    color: white;
    text-align: center;
    line-height: 35px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    font-weight: 500;
}


/* ---Section04 ---💘 */
.section04 {
    width: 1920px;
    height: 850px;
    margin: 160px 0;
}

.section04 .inner {
    width: 1763px;
    height: 100%;
    margin: 0 auto;
}

.section04 .inner .slickslide02 .slider02 {
    position: relative;
}

.section04 .inner .slickslide02 .slider02 .slide {
    width: 1050px;
    height: 749px;
    padding: 60px;
}

.section04 .inner .slickslide02 .slider02 .slide figure {
    height: 100%;
}

.section04 .inner .slickslide02 .slider02 .slide figure>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section04 .inner .slickslide02 .slider02 .slick-center figure {
    transform: scale(1.15);
    transition: transform .5s linear;
}

.section04 .inner .slickslide02 .slider02 .slick-prev {
    width: 30px;
    height: 60px;
    background: url(../img/slide_Arrow_Left.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 50%;
    left: 60px;
    z-index: 999;
}

.section04 .inner .slickslide02 .slider02 .slick-prev::before {
    display: none;
}

.section04 .inner .slickslide02 .slider02 .slick-next {
    width: 30px;
    height: 60px;
    background: url(../img/slide_Arrow_right.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 50%;
    right: 60px;
    z-index: 999;
}

.section04 .inner .slickslide02 .slider02 .slick-next::before {
    display: none;
}

/* ---Section05 ---💘 */
.section05 {
    width: 1920px;
    height: 800px;
}

.section05 .inner {
    width: 1763px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.section05 .inner .insta {
    line-height: 0;
}

.section05 .inner .insta .list01 {
    display: flex;
    justify-content: space-between;
}

.section05 .inner .insta .list02 {
    display: flex;
    justify-content: space-between;
}

/* ---Footer ---💘 */

.footer {
    width: 1920px;
    height: 226px;
}

.footer .footer_menu {
    width: 1763px;
    height: 100%;
    margin: 180px auto 0px;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 50px 0;
}

.footer .footer_menu::before {
    content: '';
    width: 1763px;
    height: 1px;
    background-color: #9A9A9A;
    position: absolute;
    top: 0;
    left: 0;
}

.footer .footer_menu::after {
    content: '';
    width: 1763px;
    height: 1px;
    background-color: #9A9A9A;
    position: absolute;
    bottom: 0px;
    right: 0;
}

.footer .footer_menu h3 {
    font-size: 16px;
    margin-bottom: 20px;
}

.footer .footer_menu .CS a {
    font-size: 24px;
    margin-bottom: 20px;
    display: block;
}

.footer .footer_menu .CS p {
    font-size: 12px;
}

.footer .footer_menu .CS span {
    font-family: 'pretendard';
    font-weight: 300;
}

.footer .footer_menu .RETURN p {
    font-size: 12px;
    margin-bottom: 20px;
    font-family: 'pretendard';
    font-weight: 300;
    line-height: 15px;
}

.footer .footer_menu .RETURN a {
    width: 70px;
    height: 35px;
    border: solid 1px #484848;
    display: block;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer .footer_menu .COMPANY ul {
    font-size: 12px;
    display: flex;
}

.footer .footer_menu .COMPANY ul li {
    margin-right: 5px;
    font-family: 'pretendard';
    font-weight: 300;
}

.footer .footer_menu .COMPANY .license li {
    margin-top: 3px;

}

.footer .footer_menu .COMPANY address {
    font-size: 12px;
    font-style: normal;
    margin-top: 3px;
    font-family: 'pretendard';
    font-weight: 300;
}

.footer .footer_menu .COMPANY p {
    font-size: 12px;
    margin-top: 3px;
}

.footer .footer_menu .BANKACCOUNT p {
    font-size: 12px;
    font-family: 'pretendard';
    font-weight: 300;
}

.footer .footer_menu .BANKACCOUNT span {
    font-size: 12px;
    margin-top: 3px;
    font-family: 'pretendard';
    font-weight: 300;
}

.footer .footer_menu .SNS li {
    font-size: 12px;
    margin-bottom: 5px;
}

.footer .footer_info {
    width: 1763px;
    height: 74px;
    margin: 0 auto;
    padding: 30px 0;
    font-family: 'pretendard';
    font-weight: 300;
}

.footer .footer_info .info {
    display: flex;
    justify-content: flex-start;
}

.footer .footer_info .info li {
    margin-right: 36px;
    font-size: 12px;
}